{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/calendrier.css' %}" />
{% endblock %}

{% block extra_js %}
  <script>
    var evenements = [
      {% for event in events %}
        {
          id: '{{ event.id }}',
          title: '{{ event.title }}',
          start: '{{ event.start_time|date:"c" }}',
          end: '{{ event.end_time|date:"c" }}',
          allDay: false
        }{% if not forloop.last %},{% endif %}
      {% endfor %}
    ];
  </script>
  <script src="{% static 'js/calendrier.js' %}"></script>
{% endblock %}

{% block title %}
  Calendrier
{% endblock %}

{% block content %}
  <body>
    <div class="calendrier">

      {% if form.is_valid %}
      <div class="calendrier" id="calendar">
          <!-- Contenu du calendrier -->
          <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js"></script>
      </div>
      {% else %}
          <div class="form-container">
              <p>Entrez l'URL de votre emploi du temps</p>
              <form method="post" class="Test">
                  {% csrf_token %}
                  <div class="form-group">
                      <input type="url" name="url" class="form-control" placeholder="Entrez votre URL ici">
                  </div>
                  <button type="submit">Soumettre l'URL</button>
              </form>
          </div>
      {% endif %}


  </body>
{% endblock %}
