{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/calendrier.css' %}" />
{% endblock %}

{% block extra_js %}
  <script>
    var evenements = [
      {% for event in events %}
        {
          id: '{{ event.id }}',
          title: '{{ event.title }}',
          start: '{{ event.start_time|date:"c" }}',
          end: '{{ event.end_time|date:"c" }}',
          allDay: false
        }{% if not forloop.last %},{% endif %}
      {% endfor %}
    ];
  </script>
  <script src="{% static 'js/calendrier.js' %}"></script>
{% endblock %}

{% block title %}
  Calendrier
{% endblock %}

{% block content %}
  <head>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js"></script>
  </head>

  <body>
    <div class="calendrier" id="calendar"></div>
  </body>
{% endblock %}
