{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/calendrier.css' %}" />
{% endblock %}

{% block extra_js %}
  <script>
    var evenements = [
      {% for event in events %}
        {
          id: '{{ event.id }}',
          title: '{{ event.title }}',
          start: '{{ event.start_time|date:"c" }}',
          end: '{{ event.end_time|date:"c" }}',
          allDay: false
        }{% if not forloop.last %},{% endif %}
      {% endfor %}
    ];
  </script>

  <script src="{% static 'js/calendrier.js' %}"></script>
{% endblock %}

{% block title %}
  Calendrier - Nexus
{% endblock %}

{% block content %}
  <body>
    <div class="calendrier">     

        {% if user.is_authenticated and not user.userprofile.url %}
            <div class="form-container">
                <p>Entrez l'URL de votre emploi du temps</p>
                <form id="urlForm" method="post" class="Test" autocomplete="off">
                    {% csrf_token %}
                    <div class="form-group">
                      <input type="url" name="url" class="form-control" value="" placeholder="Entrez votre URL ici">
                    </div>
                    <button type="submit">Soumettre l'URL</button>
                </form>
                {% if form.errors %}
                    <div class="error">
                        {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        {% endfor %}
                    </div>
              {% endif %}
            </div>
        {% else %}
            <div class="calendrier" id="calendar">
              <!-- Contenu du calendrier -->
              <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js"></script>
            </div>
        {% endif %}
  </body>
{% endblock %}
