{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>- Nexus -</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <p><a href="src/Nexus/templates/Nexus/index.html"><img src="{% static 'Logo/Logo Files/For Web/png/Black logo - no background.png' %}" alt="Nexus Logo" class="logo"></a></p>
        <h1>Bienvenue sur le &ltNEXUS&gt</h1>
        <h2>Aujourd'hui nous sommes le <span id="current-date"></span></h2>
        <h3>Il est actuellement <span id="current-time"></span></h3>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>