{% extends "base.html" %}
{% static 'css/err404.css' %}
{% block title %} ERROR 404 {% endblock %}

{% block content %}

<!-- css link -->
<link rel="stylesheet" href="{% static 'css/err404.css' %}">

<div class="container">
    <canvas id="canvas"></canvas>

    <h1>
        <span>N</span>
        <span>E</span>
        <span>X</span>
        <span>U</span>
        <span>S</span>
    </h1>

    <p> 404 - Page introuvable </p>
    <p> NEXUS sera de retour dès que possible </p>

</div>

<div class="footer">
    <img class="Tumbleweeds" src="{% static 'img/Tumbleweeds.png' %}" alt="Tumbleweeds">
</div>


{% comment %} <script src="{% static 'js/particles.js' %}"></script> {% endcomment %}

{% endblock %}
