.f_feed {
    display: flex;
    margin: auto;
}

.menu-button {
    display: none;
}

.f_events_search {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: 5px 0px 15px 5px rgba(0, 0, 0, 0.10);
    width: 25%;
    padding: 10px;
}

.barreDeRecherche {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    border-radius: 25px;
}

.TexteRecherche {
    padding: 10px;
    border: none;
    flex-grow: 1;
    outline: none;
}

.boutonRecherche {
    padding: 6px 10px;
    border: none;
    background-color: #eee;
    cursor: pointer;
    vertical-align: middle;
    font-size: 200%;
    background-color: white;
}

.boutonRecherche:hover {
    background-color: #ddd;
}

.f_posts {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden; 

    flex: 2;
    width: 50%;
    padding: 10px;
}

.f_conversations {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: 5px 0px 30px 8px rgba(0, 0, 0, 0.30);
    width: 25%;
    padding: 10px;
}
.f_conversations h3{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    font-size: 2vw;
    font-family:  'Playfair Display', 'Georgia', Times, 'Times New Roman', serif;
}
.f_conversations hr {
    width: 60%;
    margin: 0 auto;
    height: 2px;
    border: none;
    background-color: #000 !important;
    opacity: 1;
}
.f_events_search h3{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    font-size: 2vw;
    font-family:  'Playfair Display', 'Georgia', Times, 'Times New Roman', serif;
}
.f_events_search hr {
    width: 60%;
    margin: 0 auto;
    height: 2px;
    border: none;
    background-color: #000 !important;
    opacity: 1;
}

.f_post {
    border: 2px solid #ccc;
    border-radius: 30px; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
    padding: 50px; 
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 7%;
}

.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
}

.floating-button button {
    display: none;
}

/* #button_switch_page {
    color: lime !important;
    border: 2px solid lime;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    display: none;
} */

/* #button_switch_page::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid lime;
} */

@media (max-width: 768px) {
    #button_switch_page {
        display: block;
    }

    .floating-button button {
        display: block;
        border-radius: 50%;
    }

    .menu-button {
        display: block;
    }
    
    .f_events_search,
    .f_conversations {
        display: none;
    }
}

