.f_feed {
    display: flex;
    margin: auto;
}

.menu-button {
    display: none;
}

.f_events_search {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: 5px 0px 61px 8px rgba(0, 0, 0, 0.25);
    width: 25%;
    padding: 10px;
}

.barreDeRecherche {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    border-radius: 25px;
}

.TexteRecherche {
    padding: 10px;
    border: none;
    flex-grow: 1;
    outline: none;
}

.boutonRecherche {
    padding: 6px 10px;
    border: none;
    background-color: #eee;
    cursor: pointer;
    vertical-align: middle;
    font-size: 200%;
    background-color: white;
}

.boutonRecherche:hover {
    background-color: #ddd;
}

.f_posts {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden; 

    flex: 2;
    width: 50%;
    padding: 10px;
}

.f_conversations {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: 5px 0px 61px 8px rgba(0, 0, 0, 0.25);
    width: 25%;
    padding: 10px;
}
.f_conversations h3{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    font-size: 2vw;
    font-family:  'Playfair Display', 'Georgia', Times, 'Times New Roman', serif;
}
.f_conversations hr {
    width: 60%;
    margin: 0 auto;
    height: 2px;
    border: none;
    background-color: #000 !important;
    opacity: 1;
}
.f_events_search h3{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    font-size: 2vw;
    font-family:  'Playfair Display', 'Georgia', Times, 'Times New Roman', serif;
}
.f_events_search hr {
    width: 60%;
    margin: 0 auto;
    height: 2px;
    border: none;
    background-color: #000 !important;
    opacity: 1;
}

.f_post {
    border: 2px solid #ccc;
    border-radius: 30px; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
    padding: 50px; 
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 7%;
}

@media (max-width: 768px) {
    .menu-button {
        display: block;
    }
    
    .f_events_search,
    .f_conversations {
        display: none;
    }
}