.barreAction{
    padding-top: 3%;
}

.heart {
    cursor: pointer;
    transition: transform 0.2s;
    max-width: 30px;
    height: auto;
    margin-right: 10px;
}

.commentaire{
    cursor: pointer;
    transition: transform 0.2s;
    max-width: 45px;
    height: auto;
    margin-right: 10px;
}

.envoie{
    cursor: pointer;
    transition: transform 0.2s;
    max-width: 30px;
    height: auto;
}

.enregistrement{
    cursor: pointer;
    transition: transform 0.2s;
    max-width: 30px;
    height: auto;
    float: right;
}
  