body {
    /* background-color: black !important; */
    margin: auto;
}

#text {
    color: rgb(0, 0, 255);
}

.navbar .navbar-nav .nav-link {
    color: white !important;
    font-weight: bold;
}

.navbar .navbar-nav .nav-item {
    border-right: 2px solid white;
    margin-right: 40px;
    padding-right: 40px;
}

.navbar .navbar-nav .nav-item:last-child {
    border-right: none;
    margin-right: 0;
    padding-right: 0;
}

.navbar {
    background: linear-gradient(90deg, #A259FF 0%, #5551FF 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#navbarNav {
    justify-content: center;
    color: white;
    font-weight: bold;
}

#nav-left {
    margin: auto;
    margin-left: 1%;
} 

#nav-left img {
    max-width: 150px;
    max-height: 50px;
}

#nav-right {
    margin: auto;
    margin-right: 1%;
}

#drop_right{
    border: 2px solid light_blue;
    padding-right: 10px;
}

#nav-right img {
    filter: brightness(0) invert(1);
}

#nav-bar{
    height: 70px;
    padding: auto;
}

#dropdown-menu {
    border: 2px solid lime;
}

#dropdown-menu-right {
    padding-right: 10px;
}

#nexus-collapse{
    color: white !important;
    font-weight: bold;
    border: none;
    text-decoration: none;
    margin: auto;
    border: 2px solid red;
}

#nexus-collapse img {
    border: 2px solid red;
    max-width: 150px;
    max-height: 50px;
}

#nexus-collapse-liste{
    color: white !important;
    font-weight: bold;
    border: none;
    text-decoration: none;
    margin: auto;
    list-style-type: none;
}