body,
html {
  overflow: visible;
}

body{
  color: #000;
}

h1{
text-align: center;
margin-top: 5%;
margin-bottom: 5%;
font-family:  'Playfair Display', 'Georgia', Times, 'Times New Roman', serif;
}

.container {
display: flex;
justify-content: space-between;
padding: 20px;
}

.section {
width: 50%;
text-align: center;
position: relative; /* Ajouté pour le positionnement absolu des awards */
}

.title {
font-size: 24px;
margin-bottom: 20px;
text-transform: uppercase;
font-weight: bold;
margin-bottom: 7%;
}

.podium {
display: flex;
justify-content: center; /* Centré sur l'axe horizontal */
position: relative; /* Ajouté pour le positionnement absolu des awards */
height: 150px; /* Hauteur ajustable selon vos besoins */
}

.award {
position: absolute; /* Positionnement absolu pour chaque award */
}

.award img {
width: 60px;
height: 60px;
}

.award p {
margin-top: 10px;
}

/* Positionnement des awards pour la section club */
.club-section .award:nth-child(1) {
/* Premier award centré */
left: 50%;
transform: translateX(-50%);
top: 0;
}

.club-section .award:nth-child(2) {
/* Deuxième award à gauche */
left: 20%;
top: 40px;
transform: scale(0.9); /* Réduction de la taille */
}

.club-section .award:nth-child(3) {
/* Troisième award à droite */
right: 25%;
top: 60px;
transform: scale(0.8); /* Réduction supplémentaire de la taille */
}

/* Tailles spécifiques pour la première place de chaque section */
.club-section .award:nth-child(1) img, .student-section .award:nth-child(1) img {
width: 80px;
height: 80px;
}

/* De même pour la section étudiant, si nécessaire */
.student-section .award:nth-child(1) {
left: 50%;
transform: translateX(-50%);
top: 0;
}

.student-section .award:nth-child(2) {
left: 20%;
top: 40px;
transform: scale(0.9);
}

.student-section .award:nth-child(3) {
right: 25%;
top: 60px;
transform: scale(0.8);
}

.classement_global{
margin-top: 5%;
margin-bottom: 5%;
width: 100%;
text-align: center;
font-family:  'Playfair Display', 'Georgia', Times, 'Times New Roman', serif;
border-collapse: collapse;
}

.classement_global td, .classement_global th {
  border: 1px solid #ddd;
  border-color: #000 !important;
  padding: 8px;
}

.student-section .triangleEtudiant {
  display: block;
  margin-top: 50px;
}

.club-section .triangleClub {
  display: block;
  margin-top: 50px;
}

.classement_Etudiant, .classement_Club {
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.5s, max-height 0.5s ease-in-out, visibility 0.5s;
}

.classement_Etudiant.visible, .classement_Club.visible {
  opacity: 1;
  visibility: visible;
  max-height: 500px; /* Ajustez selon la hauteur maximale de votre contenu */
}


.rotate-180 {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}


@media screen and (max-width: 768px) {
  .award:nth-child(2){
    left: 0 !important;
    margin: 0 !important;
  }
  .award:nth-child(3){
    right: 0 !important;
    margin: 0 !important;
  }
}

