clubs/__pycache__/__init__.cpython-39.pyc
clubs/__pycache__/admin.cpython-39.pyc
clubs/__pycache__/apps.cpython-39.pyc
clubs/__pycache__/models.cpython-39.pyc
clubs/__pycache__/urls.cpython-39.pyc
clubs/__pycache__/views.cpython-39.pyc
clubs/migrations/__pycache__/__init__.cpython-39.pyc
feed/__pycache__/__init__.cpython-39.pyc
feed/__pycache__/admin.cpython-39.pyc
feed/__pycache__/apps.cpython-39.pyc
feed/__pycache__/models.cpython-39.pyc
feed/__pycache__/urls.cpython-39.pyc
feed/__pycache__/views.cpython-39.pyc
feed/migrations/__pycache__/__init__.cpython-39.pyc
calendrier/__pycache__/__init__.cpython-39.pyc
calendrier/__pycache__/admin.cpython-39.pyc
calendrier/__pycache__/apps.cpython-39.pyc
calendrier/__pycache__/models.cpython-39.pyc
calendrier/__pycache__/urls.cpython-39.pyc
calendrier/__pycache__/views.cpython-39.pyc
calendrier/migrations/__pycache__/__init__.cpython-39.pyc
classement/__pycache__/__init__.cpython-39.pyc
classement/__pycache__/admin.cpython-39.pyc
classement/__pycache__/apps.cpython-39.pyc
classement/__pycache__/models.cpython-39.pyc
classement/__pycache__/urls.cpython-39.pyc
classement/__pycache__/views.cpython-39.pyc
classement/migrations/__pycache__/__init__.cpython-39.pyc
Nexus/__pycache__/__init__.cpython-39.pyc
Nexus/__pycache__/settings.cpython-39.pyc
Nexus/__pycache__/urls.cpython-39.pyc
Nexus/__pycache__/wsgi.cpython-39.pyc
profil/__pycache__/__init__.cpython-39.pyc
profil/__pycache__/admin.cpython-39.pyc
profil/__pycache__/apps.cpython-39.pyc
profil/__pycache__/models.cpython-39.pyc
profil/__pycache__/urls.cpython-39.pyc
profil/__pycache__/views.cpython-39.pyc
profil/migrations/__pycache__/__init__.cpython-39.pyc
db_old.sqlite3
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
/classement/__pycache__
/feed/__pycache__
/calendrier/__pycache__
/Nexus/__pycache__
*.pyc
/Nexus/__pycache__
*.pyc
*.pyc
*.pyc
*.pyc
/feed/__pycache__
