{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
        <title>Nexus - Le réseau pour les étudiants</title>
    </head>
    <body>
        {% load socialaccount %}
        <div class="parent-alert-box">
            <div class="alert-box" id="alert-box">
                <div class="title">
                    <h2>Compte non autorisé</h2>
                    <button id="cross-button">
                        <img class="cross-image" src="{% static 'img/crossv3.png' %}" alt="Croix" width="50%" height="50%">
                    </button>
                </div>
                <p>Ce compte ne dispose pas des autorisations nécessaires pour accéder au site.</p>
            </div>
        </div>
        <div class="container">
            <div class="left">
                <img src="{% static 'img/White_logo.svg' %}" alt="logo Nexus" width="80%">
            </div>
            <div class="right">
                <a href="{% provider_login_url 'google' %}?next=/">
                    <div class="content">
                        <div class="google-button">
                            <figure class="google-button-logo">
                                <img src="{% static 'img/img.png' %}" alt="google logo" width="40px" height="40px">
                            </figure>
                            <article class="login-text">
                                <p>Se connecter</p>
                            </article>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <script>
            let button = document.getElementById("cross-button");
            let alertBox = document.getElementById("alert-box");
            //let state = false;
            let state = {{ request.session.state|yesno:"true,false" }};
            console.log(state);
            if(state===true){
                alertBox.style.display = "visible";
            }
            else if(state===false){
                alertBox.style.display = "none";
            }
            button.addEventListener("click", () => {
                state = false;
                console.log(state);

                if(state === false){
                    alertBox.style.display = "none";
                }
                else{
                    alertBox.style.display = "visible";
                }
            })
        </script>
    </body>
</html>
