{% load static %}
<!DOCTYPE html>
<html lang="fr"> 
    <head>
        <link rel="stylesheet" href="{% static 'css/feed.css' %}">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        {% block extra_css %}{% endblock %}
        
        <link rel="icon" href="{% static 'img/icon.png' %}">
        <meta charset="utf-8">
        <meta 
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <title>{% block title %} Nexus {% endblock %}</title>
        
    </head>
    <body>

        <nav class="navbar navbar-expand-lg bg-primary" id="nav-bar">
            
            <a class="navbar-toggler" id="nexus-collapse" data-target="#navbarNav" href="/feed"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> <img src="{% static 'img/White_logo.png' %}" alt="Nexus_Logo"> </a>

            <li id="nexus-collapse-liste" class="navbar-toggler">
                <a class="nav-link dropdown-toggle" href="dropdown" id="navbarDropdown" role="button" 
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Menu </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/feed">Feed</a>
                    <a class="dropdown-item" href="/clubs">Clubs & Assos</a>
                    <a class="dropdown-item" href="/calendrier">Calendrier</a>
                    <a class="dropdown-item" href="/classement">Classement</a>
                    <a class="dropdown-item" href="/profil">Mon compte</a>
                    <a class="dropdown-item" href="/logout">Déconnexion</a>
                </div>
            </li>
            
            <div class="collapse navbar-collapse" id="navbarNav">
                <a href="/feed" id="nav-left"><img src="{% static 'img/White_logo.png' %}" alt="Nexus_Logo"></a>

                <ul class="navbar-nav" id="nav-center">
                    <li class="nav-item">
                        <a class="nav-link" href="/feed">Feed</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/clubs">Clubs & Assos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/calendrier">Calendrier</a>
                    </li>
                </ul>

                <ul class="navbar-nav" id="nav-right">
                    {% comment %} <li class="nav-item">
                            <button id="dropdown-button" class="dropdown-item" onclick="bob(this)">Show all</button>
                    <li class="nav-item"> {% endcomment %}
                        <a class="nav-link" href="/classement">
                            <img src="{% static 'img/trophy.png' %}" alt="Trophy" style="max-width: 30px;">
                        </a>
                    </li>
                    <li class="compte-toggler">
                        <a class="nav-link dropdown-toggle" href="#compte_dropdown" id="navbarDropdown" role="button" 
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                            <img src="{% static 'img/compte.png' %}" alt="Compte" style="max-width: 30px;">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" id="drop_right">
                            <a class="dropdown-item" href="/profil">Mon Compte</a>
                            <a class="dropdown-item" href="/logout">Déconnexion</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="content"> {% block content %} {% endblock %} </div>

        <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
        <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/ckeditor_config.js' %}"></script>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="{% static 'js/script.js' %}"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

        {% block extra_js %}{% endblock %}

    </body>
</html>
