{% extends "base.html" %}
{% load static %}
{% block title %} Feed {% endblock %}

extra js block 
{% block extra_js %}
<script>
    var evenements = [
      {% for event in events %}
        {
          id: '{{ event.id }}',
          title: '{{ event.title }}',
          start: '{{ event.start_time|date:"c" }}',
          end: '{{ event.end_time|date:"c" }}',
          allDay: false
        }{% if not forloop.last %},{% endif %}
      {% endfor %}
    ];
  </script>
{% endblock %}

{% block content %}
<div class="f_feed" id="text">
    <aside class="f_events_search" id="feed-content">
        <h3>A venir</h3>
        <hr> <br>

        <div class="calendrier" id="calendar">
        <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js"></script>
        
        <!-- <form action="#/chemin-vers-votre-script-de-recherche" method="get" class="barreDeRecherche">

            <button type="submit" class="boutonRecherche">🔍</button>
            <input type="text" name="query" placeholder="Cherchez un club" class="TexteRecherche">
            
        </form>
        
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pulvinar pellentesque erat. Praesent non nisi non elit feugiat eleifend. 
            Suspendisse placerat risus eu justo sodales, nec accumsan augue dignissim. Morbi mollis eros vitae tellus rhoncus, quis finibus libero pellentesque. 
            Nam id eleifend nisl, ac viverra magna. Curabitur magna ante, finibus vitae suscipit quis, commodo et enim. 
            Duis ullamcorper et sem elementum rutrum. Donec a fringilla felis. Donec ipsum dui, sodales ac felis in, vulputate bibendum dolor. <br/><br/><br/><br/><br/><br/>
            Cras vel turpis imperdiet erat fringilla dapibus. Morbi rutrum euismod aliquam. Vestibulum lobortis tellus at magna interdum fermentum.
            Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
            Nullam accumsan rutrum felis. In sit amet convallis lorem, vitae semper augue. Integer nisl magna, tempor vel facilisis sed, volutpat a urna. 
            Cras a consequat leo, vel lacinia urna. Vestibulum magna ex, laoreet nec leo nec, interdum iaculis orci. Sed lacinia bibendum imperdiet. 
            Vivamus congue a erat eget scelerisque. Duis fringilla ligula sed justo vulputate, in pellentesque tortor commodo</p> -->
    </aside>
    
    <main class="f_posts" id="feed-content">

        {% if user.userprofile.role != "user" %}
        <button id="myBtn">
            <img src="{% static 'img/add_post.png' %}" alt="Ajouter Post" style="width: 28px; height: 28px;">
        </button>
        {% endif %}

        <div id="myPopup" class="popup">
            <div class="popup-content">
                <span class="close">&times;</span>
                <h3>Ajouter un post</h3>
                <form method="post" action="/feed/" enctype="multipart/form-data">

                    {% csrf_token %}
                    {{form.as_p}}
                    <button class="btn btn-primary" id="submit_posts" type="submit", name="save"> Add post </button>
                </form>
            </div>
        </div>

        {% if posts_size == 0 %}
            <h2>Aucun post publié</h2>
            {{ user.userprofile.url }}
            {{ user.userprofile.role }}
        {% endif %}

        {% for post in posts %}
            {% include "post_template.html" with post=post %}
        {% endfor %}
    </main>

    <aside class="f_conversations" id="feed-content">
        <br>
        <form action="#/chemin-vers-votre-script-de-recherche" method="get" class="barreDeRecherche">

            <button type="submit" class="boutonRecherche">🔍</button>
            <input type="text" name="query" placeholder="Cherchez une conversations" class="TexteRecherche">
            
        </form>

        <br>
        <h3>Conversation</h3>
        <hr> <br>

        <div class="liste_de_conversation">
            <img src="{% static 'img/no_avatar.jpg' %}" alt="No_avatar">
            <p>Conversation</p>
        </div>
        <div class="liste_de_conversation">
            <img src="{% static 'img/no_avatar.jpg' %}" alt="No_avatar">
            <p>Conversation</p>
        </div>
        <div class="liste_de_conversation">
            <img src="{% static 'img/no_avatar.jpg' %}" alt="No_avatar">
            <p>Conversation</p>
        </div>
        <div class="liste_de_conversation">
            <img src="{% static 'img/no_avatar.jpg' %}" alt="No_avatar">
            <p>Conversation</p>
        </div>
        <div class="liste_de_conversation">
            <img src="{% static 'img/no_avatar.jpg' %}" alt="No_avatar">
            <p>Conversation</p>
        </div>
        <div class="liste_de_conversation">
            <img src="{% static 'img/no_avatar.jpg' %}" alt="No_avatar">
            <p>Conversation</p>
        </div>
        <div class="liste_de_conversation">
            <img src="{% static 'img/no_avatar.jpg' %}" alt="No_avatar">
            <p>Conversation</p>
        </div>
        <div class="liste_de_conversation">
            <img src="{% static 'img/no_avatar.jpg' %}" alt="No_avatar">
            <p>Conversation</p>
        </div>
        <div class="liste_de_conversation">
            <img src="{% static 'img/no_avatar.jpg' %}" alt="No_avatar">
            <p>Conversation</p>
        </div>
        <div class="liste_de_conversation">
            <img src="{% static 'img/no_avatar.jpg' %}" alt="No_avatar">
            <p>Conversation</p>
        </div>
        <div class="liste_de_conversation">
            <img src="{% static 'img/no_avatar.jpg' %}" alt="No_avatar">
            <p>Conversation</p>
        </div>
        <div class="liste_de_conversation">
            <img src="{% static 'img/no_avatar.jpg' %}" alt="No_avatar">
            <p>Conversation</p>
        </div>
        
    </aside>

    <div class="floating-button">
        <button class="boutton_switch_page" id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> + </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <button id="dropdown-button" class="dropdown-item" data-target="f_events_search" onclick="myFunction(this)">Événements</button>
            <button id="dropdown-button" class="dropdown-item" data-target="f_posts" onclick="myFunction(this)">Feed</button>
            <button id="dropdown-button" class="dropdown-item" data-target="f_conversations" onclick="myFunction(this)">Conversations</button>
        </div>
    </div>
</div>
{% endblock %}