{% extends "base.html" %}

{% block title %} Feed {% endblock %}

{% block content %}
<div class="f_feed" id="text">
    <div class="f_events_search">
        <p>Recherche et listes des events</p>
        <p>Recherche et listes des events</p>
        <p>Recherche et listes des events</p>
        <p>Recherche et listes des events</p>
        <p>Recherche et listes des events</p>
        <p>Recherche et listes des events</p>
        <p>Recherche et listes des events</p>
        <p>Recherche et listes des events</p>
        <p>Recherche et listes des events</p>
        <p>Recherche et listes des events</p>
        <p>Recherche et listes des events</p>
        <p>Recherche et listes des events</p>
        <p>Recherche et listes des events</p>
        <p>Recherche et listes des events</p>
        <p>Recherche et listes des events</p>
        <p>Recherche et listes des events</p>
        <p>Recherche et listes des events</p>
        <p>Recherche et listes des events</p>
        <p>Recherche et listes des events</p>
        <p>Recherche et listes des events</p>
    </div>
    <div class="f_posts">
        <p>Listes des posts</p>
        <p>Listes des posts</p>
        <p>Listes des posts</p>
        <p>Listes des posts</p>
        <p>Listes des posts</p>
        <p>Listes des posts</p>
        <p>Listes des posts</p>
        <p>Listes des posts</p>
        <p>Listes des posts</p>
        <p>Listes des posts</p>
        <p>Listes des posts</p>
        <p>Listes des posts</p>
        <p>Listes des posts</p>
        <p>Listes des posts</p>
        <p>Listes des posts</p>
        <p>Listes des posts</p>
        <p>Listes des posts</p>
        <p>Listes des posts</p>
        <p>Listes des posts</p>
        <p>Listes des posts</p>
    </div>
    <div class="f_conversations">
        <p>Listes des conversations</p>
        <p>Listes des conversations</p>
        <p>Listes des conversations</p>
        <p>Listes des conversations</p>
        <p>Listes des conversations</p>
        <p>Listes des conversations</p>
        <p>Listes des conversations</p>
        <p>Listes des conversations</p>
        <p>Listes des conversations</p>
        <p>Listes des conversations</p>
        <p>Listes des conversations</p>
        <p>Listes des conversations</p>
        <p>Listes des conversations</p>
        <p>Listes des conversations</p>
        <p>Listes des conversations</p>
        <p>Listes des conversations</p>
        <p>Listes des conversations</p>
        <p>Listes des conversations</p>
        <p>Listes des conversations</p>
        <p>Listes des conversations</p>
    </div>
</div>
{% endblock %}
