{% extends "base.html" %}
{% load static %}
{% block title %} Feed {% endblock %}

{% block content %}
<div class="f_feed" id="text">
    <aside class="f_events_search">
        <br> 
        <form action="#/chemin-vers-votre-script-de-recherche" method="get" class="barreDeRecherche">
            <button type="submit" class="boutonRecherche">🔍</button>
            <input type="text" name="query" placeholder="Cherchez un club" class="TexteRecherche">
            
        </form>
        
        <br>
        <h3>A venir</h3>
        <hr> <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pulvinar pellentesque erat. Praesent non nisi non elit feugiat eleifend. 
            Suspendisse placerat risus eu justo sodales, nec accumsan augue dignissim. Morbi mollis eros vitae tellus rhoncus, quis finibus libero pellentesque. 
            Nam id eleifend nisl, ac viverra magna. Curabitur magna ante, finibus vitae suscipit quis, commodo et enim. 
            Duis ullamcorper et sem elementum rutrum. Donec a fringilla felis. Donec ipsum dui, sodales ac felis in, vulputate bibendum dolor. <br/><br/>
            Cras vel turpis imperdiet erat fringilla dapibus. Morbi rutrum euismod aliquam. Vestibulum lobortis tellus at magna interdum fermentum.
            Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
            Nullam accumsan rutrum felis. In sit amet convallis lorem, vitae semper augue. Integer nisl magna, tempor vel facilisis sed, volutpat a urna. 
            Cras a consequat leo, vel lacinia urna. Vestibulum magna ex, laoreet nec leo nec, interdum iaculis orci. Sed lacinia bibendum imperdiet. 
            Vivamus congue a erat eget scelerisque. Duis fringilla ligula sed justo vulputate, in pellentesque tortor commodo</p>
    </aside>
    
    <main class="f_posts">
        <article class="f_post">
            <h5>Club Poker</h5>
            <p>Pierre paie sa tournée à toute les personnes présentes dans la salle</p>
        </article>
        <br/>
        
        <article class="f_post">
            <h5>BDE Peppers</h5>
            <p>🎉 Rejoignez-nous pour la WINTER NIGHT ❄️! 🎉</p>
            <p>Le BDE vous convie à notre soirée étudiante hivernal : la WINTER NIGHT. Venez célébrer avec nous, profiter de la musique, des boissons et de la bonne compagnie.</p>
            <p>Nous vous attendons nombreux le 03/11/2023 à l'école à partir de 22h30. Ne manquez pas cet événement exceptionnel ! 🌟</p>
        </article>
        <br/>

        <article class="f_post">
            <h5>Club Test</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet vitae magna quis malesuada. Donec lacinia quam turpis, et lobortis nulla consectetur nec. 
                Donec varius eros vitae massa mollis mollis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. <br/><br/>
                Cras purus purus, porttitor vel lorem in, vestibulum pharetra augue.
                Fusce et lectus ultrices, sagittis urna sit amet, ultricies dolor. Praesent ullamcorper laoreet dolor, vitae facilisis dui dapibus vel. 
                Nam eget libero efficitur, eleifend elit eu, vulputate nunc. <br/><br/>
                Curabitur semper fermentum augue nec fermentum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce diam sem, pulvinar eget finibus dictum, 
                accumsan venenatis ipsum. Integer accumsan sagittis augue, sed efficitur elit faucibus non. Maecenas efficitur blandit tellus, ut auctor justo facilisis 
                vel. Donec accumsan urna eget odio sollicitudin cursus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. <br/><br/>
                Praesent dictum interdum metus, ac interdum velit feugiat sed. Etiam egestas elementum lorem, in laoreet enim mattis in. Pellentesque aliquet ante 
                id neque laoreet bibendum. Mauris at porta orci. Maecenas eget congue magna. Nunc in lacus venenatis sem ultrices ultrices ac id quam. Nam sed eleifend 
                sapien. Integer ultricies id orci vel vestibulum.
            </p>
        </article>
        <br/>

        <article class="f_post">
            <h5>Club Polymnie</h5>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet vitae magna quis malesuada. Donec lacinia quam turpis, et lobortis nulla consectetur nec. 
                Donec varius eros vitae massa mollis mollis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. <br/><br/>
                Cras purus purus, porttitor vel lorem in, vestibulum pharetra augue.
                Fusce et lectus ultrices, sagittis urna sit amet, ultricies dolor. Praesent ullamcorper laoreet dolor, vitae facilisis dui dapibus vel. 
                Nam eget libero efficitur, eleifend elit eu, vulputate nunc. <br/><br/>
                Curabitur semper fermentum augue nec fermentum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce diam sem, pulvinar eget finibus dictum, 
                accumsan venenatis ipsum. Integer accumsan sagittis augue, sed efficitur elit faucibus non. Maecenas efficitur blandit tellus, ut auctor justo facilisis 
                vel. Donec accumsan urna eget odio sollicitudin cursus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. <br/><br/>
                Praesent dictum interdum metus, ac interdum velit feugiat sed. Etiam egestas elementum lorem, in laoreet enim mattis in. Pellentesque aliquet ante 
                id neque laoreet bibendum. Mauris at porta orci. Maecenas eget congue magna. Nunc in lacus venenatis sem ultrices ultrices ac id quam. Nam sed eleifend 
                sapien. Integer ultricies id orci vel vestibulum.
            </p>
        </article>
    </main>

    <aside class="f_conversations">
        <br>
        <h3>Conversation</h3>
        <hr>
        <br>
        <p>Listes des conversations</p><br><br>
        <p>Listes des conversations</p><br><br>
        <p>Listes des conversations</p><br><br>
        <p>Listes des conversations</p><br><br>
        <p>Listes des conversations</p><br><br>
        <p>Listes des conversations</p><br><br>
    </aside>

    {% comment %} <div class="floating-button">
        <li id="nexus-collapse-liste" class="navbar-toggler">
            <a class="nav-link dropdown-toggle" href="dropdown" id="button_switch_page" role="button" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <button id="show-feed" class="btn btn-primary">Afficher le Feed</button>
                <button id="show-events" class="btn btn-primary">Afficher les Événements</button>
                <button id="show-conversations" class="btn btn-primary">Afficher les Conversations</button>
            </div>
        </li>
    </div> {% endcomment %}

    <div class="floating-button">
        <button class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-plus"></i></button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Évenements</a>
            <a class="dropdown-item" href="#">Feed</a>
            <a class="dropdown-item" href="#">Conversation</a>
        </div>
    </div>

    

</div>
{% endblock %}
