{% extends "base.html" %}
{% load static %}

{% block title %} mon compte {% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/profil.css' %}">
{% endblock %}

{% block extra_js %}
<script>
  function resetCalendarUrl() {
    fetch('reset_calendar_url', {
      method: 'POST',
      headers: {
        'X-CSRFToken': getCookie('csrftoken'),
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({action: 'reset_url'})
    })
    .then(response => {
      if (response.ok) {
        window.location.href = '/calendrier';  // Redirection après la réinitialisation
      } else {
        throw new Error('Failed to reset calendar URL');
      }
    })
    .catch(error => console.error('Error:', error));
  }
  
  function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
  </script>
    <script src="{% static 'js/parametres.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="profile-header">
{#        <img src="{% static 'img/no_avatar.png' %}" alt="Photo de Profil" width="100" height="100">#}
        {% if user.socialaccount_set.all.0.get_avatar_url %}
        <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="Photo de Profil" width="100" height="100">
        {% else %}
            <img src="{% static 'img/no_avatar.png' %}" alt="Photo de Profil" width="100" height="100">
        {% endif %}

        <div class="profile-container">
          <h1 class="profile-name">{{user.first_name}} {{user.last_name}}</h1>
          <p class="text_blanc" > -> {{user.userprofile.role}}</p>
          {% if user.userprofile.club != null %}
            <p> club : {{user.userprofile.club}}</p>
          {% endif %}
        </div>

        <div class="coin-container">
          <span>2624</span>
          <img class="coin" src="{% static 'img/Piece_Nexus.png' %}" alt="Pièce" width="50" height="50">
        </div>
    </div>
    <div class="spacer"></div>
    <div class="card">
        <h2>Paramètres</h2>
        <div class="settings">
            <div class="changer-calendrier">
                <label>
                    <input type="button" style="background-image: url('/static/img/QR_Code.png');" onclick="resetCalendarUrl()">
                    <p>Changer de Calendrier</p>
                </label>
            </div>
            <div class="deconnexion">
                <label>
                    <input type="button" style="background-image: url('/static/img/deconnexion.png');" onclick="window.location.href='/logout'">
                        <p>Déconnexion</p>
                </label>
            </div>
        </div>
    </div>

  <div class="abonnement">
    <h2>Abonnements</h2>
      <div class="abonnement-child">
          {% for club in user.userprofile.get_subscribed_clubs %}
              <a href="{% url 'club_details' club.nom %}" style="text-decoration: none; color: inherit;">
                  <div class="subscribed-clubs">
                    <img src="{{ club.photo.url }}" alt="photo de club" width="80" height="80">
                    <p>{{ club.nom_affiche }}</p>
                  </div>
              </a>
        {% endfor %}
      </div>
  </div>

  <div class="abonnementMobile">
    <h2>Abonnements</h2>
    <table class="tabAbonnements">
      <tr>
        <td><div class="menu-item"><img src="{% static 'img/no_avatar.png' %}" alt="Photo de Profil" width="40" height="40">ESIEE SPACE</div></td>
      </tr>
      <tr>
        <td><div class="menu-item"><img src="{% static 'img/no_avatar.png' %}" alt="Photo de Profil" width="40" height="40">Club Poker</div></td>
      </tr>
        <td><a href="/clubs/club_details" style="text-decoration: none; color: inherit;"><div class="menu-item"><img src="{% static 'img/no_avatar.png' %}" alt="Photo de Profil" width="40" height="40">Club Musique</div></a></td>
      <tr>
        <td><div class="menu-item"><img src="{% static 'img/no_avatar.png' %}" alt="Photo de Profil" width="40" height="40">Club Hera</div></td>
      </tr>
      <tr>
        <td><div class="menu-item"><img src="{% static 'img/no_avatar.png' %}" alt="Photo de Profil" width="40" height="40">Club Gaming</div></td>
      </tr>
      <tr>
        <td><div class="menu-item"><img src="{% static 'img/no_avatar.png' %}" alt="Photo de Profil" width="40" height="40">BDE</div></td>
      </tr>
      <tr>
        <td><div class="menu-item"><img src="{% static 'img/no_avatar.png' %}" alt="Photo de Profil" width="40" height="40">BDS</div></td>
      </tr>
    </table>
  </div>
      <div class="footer">
        ESIEE PARIS
      </div>
{% endblock %}