{% extends "base.html" %}
{% load static %}

{% block title %} mon compte {% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/profil.css' %}">
{% endblock %}


{% block content %}
    <div class="profile-header">
        <img src="{% static 'img/no_avatar.jpg' %}" alt="Photo de Profil" width="100" height="100">
        <h1 class="profile-name">Joël MBIAPA KETCHECKMEN</h1>
        <div class="coin-container">
            <span>2 624</span>
            <img class="coin" src="{% static 'img/Piece_Nexus.png' %}" alt="Pièce" width="50" height="50">
        </div>
    </div>
      
    <div class="settings">
        <div class="card">
          <h2>Paramètre</h2>
          <div class="menu-item"><input type="checkbox" id="notifications" checked> <label for="notifications">Notifications</label></div>
          <div class="menu-item"><input type="checkbox" id="sound"> <label for="sound">Son</label></div>
        <div class="menu-item">Scanner QR Code</div>
    </div>
      
        <div class="card">
          <h2>Votre activité</h2>
          <div class="menu-item">Vos likes</div>
          <div class="menu-item">Vos commentaires</div>
          <div class="menu-item">Historique de recherche</div>
          <div class="menu-item">Posts enregistrés</div>
          <div class="menu-item">Effacer Historique de recherche</div>
          <div class="menu-item">Effacer conversations</div>
        </div>
      </div>
      
      <div class="card">
        <h2>Vos abonnements</h2>
        <div class="menu-item">Club Poker</div>
        <div class="menu-item">ESIEE SPACE</div>
      </div>
      
      <div class="footer">
        ESIEE PARIS
      </div>
{% endblock %}