#nav-bar{
    position: fixed;
    width: 100%;
    z-index: 1000;
}

body , html{
    overflow: visible;
}

.profile-header {
    padding-top: 80px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #fff;
    border-radius: 25px; */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.profile-header img {
    border-radius: 50%;
    margin-right: 10px;
}

.profile-name {
    flex-grow: 1;
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: black;
}

.coin-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Added */
}

.coin {
    margin-left: 10px;
}


.card {
    display: block;
    border: 1px solid #b6b6b6;
    background-color: white;
    color: #333;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
}

.card h2 {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    color: #333;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.tabParametreActivite{
    width: 100%;
    border-collapse: collapse;
    cursor: pointer;
}

.tabParametreActivite .logo{
    width: 20%;
    height: 50px;
    text-align: center;
    vertical-align: middle;
}

.logo img{
    display: block; /* Faites en sorte que l'image soit traitée comme un bloc pour permettre le centrage */
    margin: 0 auto;
}

.tabParametreActivite tr:hover {
    box-shadow: 0px 0px 10px 5px rgba(161, 88, 255, 0.34);
}

.tabParametreActivite tr:active {
    box-shadow: 0px 0px 10px 5px rgba(161, 88, 255, 0.85);
}

input[type="checkbox"] {
    width: 30px;
    height: 30px;
    cursor: pointer; 
}
.volume-control {
    display: flex;
    width: 75%; /* Ajustez selon la largeur désirée */
    height: 10px; /* Ajustez selon la hauteur désirée */
    margin-left: 12%;
}

.volume-slider {
    width: 100%;
    cursor: pointer;
    -webkit-appearance: none; /* Pour supprimer l'apparence par défaut dans WebKit */
    appearance: none;
    background: transparent;

}

.volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20%; /* Largeur de la poignée */
    height: 20%; /* Hauteur de la poignée */
    background: #A259FF; /* Couleur de la poignée */
    cursor: pointer;
    border-radius: 50%; /* Rendre la poignée circulaire */
}

.volume-slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: #5551FF; /* Couleur de la piste */
    border-radius: 5px; /* Arrondir les angles de la piste */
}

.volume-slider:focus {
    outline: none; /* Supprimer le contour lors de la sélection */
}

/* Pour les navigateurs qui ne sont pas WebKit */
.volume-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #5551FF;
    cursor: pointer;
    border-radius: 50%;
}

.volume-slider::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: #A259FF;
    border-radius: 5px;
}



input[type="button"] {
    width: 40px; 
    height: 40px; 
    border: none; 
    cursor: pointer; 
    background-size: cover;
    background-position: center;
    background-color: transparent;
}

input[type="reset"] {
    width: 40px; 
    height: 40px; 
    border: none; 
    cursor: pointer; 
    background-size: cover;
    background-position: center;
    background-color: transparent;
}

.heart-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: black;
    text-shadow: 0 0 2px rgba(0,0,0,0.1);
    outline: none;
}
  
.heart-button:focus {
    outline: none;
    color: red;
}

.abonnement {
    border: 1px solid #b6b6b6;
    background-color: white;
    color: #333;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.abonnement h2 {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    color: #333;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.tabAbonnements {
    width: 100%;
    border-collapse: collapse;
    cursor: pointer;
}
.tabAbonnements td{
    width: 25%;
}

.tabAbonnements td:hover {
    box-shadow: 0px 0px 10px 5px rgba(161, 88, 255, 0.34);
}

.tabAbonnements td:active {
    box-shadow: 0px 0px 10px 5px rgba(161, 88, 255, 0.85);
}

.menu-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-left: 20px;
    font-size: 16px;
}  

.menu-item:last-child {
    margin-bottom: 0;
}

.menu-item img {
    margin-right: 10px;
}


.settings{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin: 50px;
}


.footer {
    text-align: center;
    font-size: 12px;
    color: #999;
}

.abonnementMobile{
    display: none;
}

@media screen and (max-width: 710px) {

    .settings {
        grid-template-columns: 1fr;
    }

    .abonnementMobile {
        display: block;
        border: 1px solid #b6b6b6;
        background-color: white;
        color: #333;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        margin-bottom: 20px;
        padding: 20px;
        border-radius: 10px;
        margin-left: 50px;
        margin-right: 50px;
    }
    
    .abonnementMobile h2 {
        font-size: 18px;
        text-align: center;
        font-weight: bold;
        color: #333;
        border-bottom: 1px solid #eaeaea;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }

    .abonnement{
        display: none;
    }
}