{% extends 'base.html' %}
{% load static %}

{% block title %}
  Clubs et Assos
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/clubs.css' %}" />
{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/clubs.js' %}"></script>
{% endblock %}

{% block content %}
  <a href="{% url 'club_details' 'musique' %}" style="text-decoration: none; color: inherit;">
    <div class="club-cardA">
      <div class="club-infoA">
        <table class="tabClubA">
          <tr>
            <td>
              <img class="pdpA" src="{{ clubs.photo.url }}" alt="photo de profil" />
            </td>
            <td class="nom_ClubA">Club Musique</td>
            <td>
              <input id="followBtnA" type="button" class="follow-btnA" value="s'abonner" />
            </td>
            <td>
              <input type="button" class="conv-btnA" />
            </td>
          </tr>
        </table>
        <p>{{ clubs.description }}</p>
      </div>
      <div class="club_baniereA">
        <img src="{% static 'img/musique.png' %}" alt="Image Club Musique" />
      </div>
    </div>
  </a>

  <a href="{% url 'club_details' 'bde' %}" style="text-decoration: none; color: inherit;">
    <div class="club-cardB">
      <div class="club_baniereB">
        <img src="{% static 'img/musique.png' %}" alt="Image Club Musique" />
      </div>
      <div class="club-infoB">
        <table class="tabClubB">
          <tr>
            <td>
              <img class="pdpB" src="{{ clubs.photo.url }}" alt="photo de profil" />
            </td>
            <td class="nom_ClubB">Club BDE</td>
            <td>
              <input id="followBtnB" type="button" class="follow-btnB" value="s'abonner" />
            </td>
            <td>
              <input type="button" class="conv-btnB" />
            </td>
          </tr>
        </table>
        <p>Rejoignez le BDE</p>
      </div>
    </div>
  </a>

  {% for club in clubs %}
    <p>{{ club.id }}</p>

    {% if {{ club.id }} % 2 == 0 %}
      <p>pair</p>
    {% else %}
      <p>impair</p>
    {% endif %}
    <p>{{ club.nom }}</p>
    <img src="{{ club.banniere.url }}" alt="Banniere du club" />

    <p> ------------------------- </p>

  {% endfor %}

{% endblock %}
