{% extends 'base.html' %}
{% load static %}

{% block title %}
  Clubs et Assos
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/club_details.css' %}" />
{% endblock %}

{% block content %}
    <div class="spacer"></div>

    <div>
        <img class="Baniere" src="{{ clubs.banniere.url }}" alt="Banniere du club" />
    </div>

    <div class="little_spacer"></div>

    <h1 class="nom_club">{{ clubs.nom_affiche }}</h1>
    <div class="little_spacer"></div>
    <div class="centered">
        <img class="pdp" src="{{ clubs.photo.url }}" alt="Photo de profil" />

        <ul class="Burreau">
            <h4>Membres du bureau :</h4>
            <li>
            Président : <a href="https://instagram.com/{{ clubs.president }}">@{{ clubs.president }}</a>
            </li>
            <li>
            Vice-Présidents :
            <a href="https://instagram.com/{{ clubs.vp1 }}">@{{ clubs.vp1 }}</a>

            {% if clubs.vp2 %}
                et <a href="https://instagram.com/{{ clubs.vp2 }}">@{{ clubs.vp2 }}</a>
            {% endif %}

            {% if clubs.vp3 %}
                et <a href="https://instagram.com/{{ clubs.vp3 }}">@{{ clubs.vp3 }}</a>
            {% endif %}
            </li>
            <li>
                Secrétaire : <a href="https://instagram.com/{{ clubs.secretaire }}">@{{ clubs.secretaire }}</a>
            </li>
            <li>
                Trésorier : <a href="https://instagram.com/{{ clubs.tresorier }}">@{{ clubs.tresorier }}</a>
            </li>
        </ul>
    </div>

    <div class="little_spacer"></div>

    <hr>

    <div class="description">
        <p>{{ clubs.description }}</p>
    </div>

    <hr>


    <div class="little_spacer"></div>

    <div class="center_feed">
        <div class="post_du_club">
            <h2 class="centered" >Posts du club</h2>
            <div class="little_spacer"></div>

            {% for post in posts %}
                {% include "post_template.html" with post=post %}
            {% endfor %}
        </div>
    </div>

    <div class="footer"></div>
{% endblock %}
